html,
body {
  font-family: 'Roboto', sans-serif;

  zoom: 1;

  height: 100%;
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html::-webkit-scrollbar,
html::-moz-scrollbar {
  display: none;
}

#main,
#schedules-main,
.map-content,
.container-fluid,
.row,
.sidebar,
.staff-content {
  height: 100%;
}

/* UK Athletics Schedules */

.flexcontainer {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.page-schedules .schedule-content {
  height: 1020px;
  padding-right: 0;
  padding-left: 0;
}

.page-schedules .schedule-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-schedules .schedule-wrapper::-webkit-scrollbar {
  display: none;
}

.page-schedules .schedule-grid-row {
  height: 120px;
  padding: 20px 0;

  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  background-color: #f2f2f2;
}

.page-schedules .schedule-grid-row:nth-child(even) {
  background-color: #f2f2f2;
}

.page-schedules .schedule-grid-row:nth-child(odd) {
  background-color: #e5e5e5;
}

.page-schedules .schedule-grid-item {
  float: left;
}

.page-schedules .schedule-grid-item p {
  margin: 0;
}

.page-schedules .grid-sport {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 15px;
  font-weight: 700;

  width: 30px;
  height: 80px;
  margin-left: 20px;

  text-transform: capitalize;

  color: #0033a0;
  border-right: 2px solid #0033a0;
}

.page-schedules .rotate {
  -webkit-transform: rotate(-90deg);
}

.page-schedules .grid-logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.page-schedules .grid-logo img {
  width: 80px;
}

.page-schedules .grid-game-info {
  width: 450px;
  height: 80px;
  margin-left: 20px;

  color: #262626;
}

.page-schedules .schedule-gametime {
  font-size: 12px;

  letter-spacing: 0.25px;
}

.page-schedules .day {
  font-weight: 700;
}

.page-schedules .time::before {
  content: ' / ';
}

.page-schedules .schedule-opponent {
  font-size: 16px;

  color: #fff;
}

.page-schedules .home-away {
  font-style: italic;

  padding: 0 8px;

  vertical-align: middle;
}

.page-schedules .home-game {
  background-color: #0033a0;
}

.page-schedules .away-game {
  background-color: #666;
}

.page-schedules .schedule-opponent-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;

  margin-left: 10px;

  vertical-align: middle;

  color: #262626;
}

.page-schedules .grid-location {
  font-size: 16px;

  overflow: hidden;

  width: 300px;
  height: 80px;
  margin-left: 20px;
}

.page-schedules .provider {
  font-size: 13px;
}

.page-schedules .grid-results {
  width: 250px;
  height: 74px;
  margin-left: 20px;
}

.page-schedules .grid-results.flexcontainer {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.page-schedules .grid-results span {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
}

.spinner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
}

.spinner-container .sk-spinner {
  width: 100px;
  height: 100px;

  color: #0033a0;
}
